{% extends 'mainapp/base.html' %}
{% load static %}

{% block js %}

{% endblock %}
<script>
  var PAGE_DATA{
    categoryId: {{ category.pk }},
    page: {{ page }},
  }
</script>
<script src="{% static 'js/category_scripts.js' %}"></script>
{% block content %}
<div class="hero-white">
  {% include 'mainapp/includes/main_menu_inc.html' %}
</div>

<div class="details">
  <div class="links clearfix">
    {% include 'mainapp/includes/categories_menu_inc.html' %}
  </div>
  <div class="category-products related">
  </div>
</div>
{% endblock %}